h1 {
  color: rgb(39, 38, 38);
  margin: 5%;
  font-size: 50px;
}

.board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% 10%;
  gap: 50px;
}

.container {
  width: 60%;
}

.recent-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  padding-left: 0;
  margin: 0;
  border: 1px solid black;
  width: 100%;
  list-style-type: none;
}

li {
  height: 30px;
}

li:nth-child(even) {
  background-color: rgb(150, 150, 140);
  height: 30px;
}

.container1 {
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}

#submitbtn {
  width: 40%;
  align-self: end;
}
